{% extends 'app1/base.html' %}

{% block title %}
    Vendor Profile Update
{% endblock %}

{% block content %}
<body>
    <div id="update">
        <div id="update2">
            <h5>NOTIFICATION</h5>
            <p class="p1">Your form has been submitted successfully.</p><br>
            <p class="p2"><i class="fa-solid fa-xmark"></i> Our reply usually takes up to 5-7 business days, if after the specified time we have not gotten back to you do well to resubmit the form again or contact our customer support</p>
        </div>
    </div> 
</body>   
{% endblock %}